# {{ ansible_managed }}

{% for key, value in redis_instance.configuration.items() %}
{% if value is iterable %}
{% if value is string %}
{{ key }} {{ value }}
{% else %}
{% for value_item in value %}
{{ key }} {{ value_item }}
{% endfor %}
{% endif %}
{% else %}
{{ key }} {{ value }}
{% endif %}
{% endfor %}
